:root {
    --color-primary--main: #EF4B4B;
    --color-primary--dark: #EB1E1E;
    --color-primary--light: #F37C7C;
    --color-secondary--main: #4B7196;
    --color-secondary--dark: #2B3956;
    --color-secondary--light: #AFD0DB;

    --box-shadow-primary: 0 1px 1px #0000001a;

    --font-size-primary: 16px;
    --font-size-secondary: 15px;

    --max-width-primary: 1280px
}
